.cards__item {
  display: flex;
  padding: 10px;

  .card {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    box-shadow: 5px 3px 15px 5px ($color-blue);
    transition: 0.25s;

    .card__image {
      height: 180px;
      width: 100%;
      padding: 15px;
      background-size: cover;
      overflow: hidden;
      position: relative;
      &::before {
        content: "";
        display: block;
        padding-top: 56.25%;
      }
      @media (max-width: 500px) {
        align-self: center;
        height: 100px;
        width: 50%;
      }
    }
    .card__content {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      padding: 1rem;

      .card__title {
        color: $color-grey;
        font-size: 0.8 rem;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
      .card__text {
        flex: 1 1 auto;
        font-size: 0.8rem;
        font-weight: bold;
      }
      .card__btn {
        background-color: white;
        border: none;
      }
    }
  }
}
